@font-face {
    font-family: 'ShinbiIsSevenYearsOld';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#opening1 {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 120px;
    font-weight: bold;
    top: 160px;
    left: 35px;
}

#opening2 {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    top: 400px;
    left: 90px;
}

#opening3 {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: black;
    padding: 5px 20px 15px 20px;
    border-radius: 15px;
    top: 470px;
    left: 130px;
    animation: blink 1s infinite;

}

.start-container,
.room-container {
    position: relative;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.text {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: black;
    display: inline-block;
    white-space: nowrap;
    padding: 5px 20px 15px 20px;
    border-radius: 10px;
    top: 410px;
    left: 50%;
    transform: translateX(-50%);
}

#choice1 {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    top: 490px;
    left: 50%;
    transform: translateX(-50%);
}

#choice2 {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

#choice3 {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: inherit;
    text-decoration: underline;
}

.button {
    position: absolute;
    font-family: 'ShinbiIsSevenYearsOld', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    top: 2px;
    left: 355px;
    z-index: 10;
}

.image {
    display: block;
    width: 100%;
}

.hotspot {
    position: absolute;
}

.phone {
    top: 65px;
    left: 110px;
    width: 80px;
    height: 100px;
    z-index: 10;
}

.wallet {
    top: 140px;
    left: 290px;
    width: 90px;
    height: 100px;
    z-index: 10;
}

.clothes {
    top: 240px;
    left: 5px;
    width: 390px;
    height: 160px;
    z-index: 10;
}

.diary {
    top: 280px;
    left: 0%;
    width: 13%;
    height: 10%;
    z-index: 10;
}

.diary2 {
    top: 75%;
    left: 55%;
    width: 35%;
    height: 10%;
    z-index: 10;
}

.computer {
    top: 210px;
    left: 3%;
    width: 22%;
    height: 18%;
    z-index: 10;
}

.book {
    top: 130px;
    left: 0%;
    width: 23%;
    height: 15%;
    z-index: 10;
}

.food {
    top: 320px;
    left: 9%;
    width: 25%;
    height: 20%;
    z-index: 10;
}

.mask {
    top: 150px;
    left: 270px;
    width: 14%;
    height: 15%;
    z-index: 10;
}

.picture {
    top: 230px;
    left: 300px;
    width: 14%;
    height: 10%;
    z-index: 10;
}

.mirror {
    top: 160px;
    left: 89%;
    width: 11%;
    height: 25%;
    z-index: 10;
}

.mirror2 {
    top: 100px;
    left: 120px;
    width: 150px;
    height: 200px;
    z-index: 10;
}

.door {
    top: 140px;
    left: 140px;
    width: 120px;
    height: 200px;
    z-index: 10;
}

.door2 {
    top: 20px;
    left: 320px;
    width: 30px;
    height: 80px;
    z-index: 10;
}

.door3 {
    top: 170px;
    left: 280px;
    width: 60px;
    height: 80px;
    z-index: 10;
}

.index {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.end {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
}